# JGerman Languages

joomla_v4/translations/package/de-AT/* @tecpromotion @jgerman-bot @zero-24
joomla_v4/translations/package/de-DE/* @tecpromotion @jgerman-bot @zero-24
joomla_v4/translations/package/de-LI/* @tecpromotion @jgerman-bot @zero-24
joomla_v4/translations/package/de-LU/* @tecpromotion @jgerman-bot @zero-24
joomla_v4/translations/core/installation/language/de-AT/* @tecpromotion @jgerman-bot @zero-24
joomla_v4/translations/core/installation/language/de-DE/* @tecpromotion @jgerman-bot @zero-24
joomla_v4/translations/core/installation/language/de-LI/* @tecpromotion @jgerman-bot @zero-24
joomla_v4/translations/core/installation/language/de-LU/* @tecpromotion @jgerman-bot @zero-24
