# Japanese
joomla_v4/translations/core/installation/language/ja-JP/*  @Richell
joomla_v4/translations/package/ja-JP/*  @Richell

# German
joomla_v4/translations/core/installation/language/de-DE/*  @zero-24 @HLeithner @tecpromotion
joomla_v4/translations/package/de-DE/*  @zero-24 @HLeithner @tecpromotion

# German Austria
joomla_v4/translations/core/installation/language/de-AT/*  @zero-24 @HLeithner @tecpromotion
joomla_v4/translations/package/de-AT/*  @zero-24 @HLeithner @tecpromotion

# German Liechtenstein
joomla_v4/translations/core/installation/language/de-LI/*  @zero-24 @HLeithner @tecpromotion
joomla_v4/translations/package/de-LI/*  @zero-24 @HLeithner @tecpromotion

# German Luxembourg
joomla_v4/translations/core/installation/language/de-LU/*  @zero-24 @HLeithner @tecpromotion
joomla_v4/translations/package/de-LU/*  @zero-24 @HLeithner @tecpromotion

# German Swiss
joomla_v4/translations/core/installation/language/de-CH/*  @zero-24 @HLeithner @tecpromotion
joomla_v4/translations/package/de-CH/*  @zero-24 @HLeithner @tecpromotion
