name: Long arrays PR comment
# This workflow is triggered after the linting action is complete

on:
  workflow_run:
    workflows: ["Long arrays in translations v4", "Long arrays in translations v5", "Long arrays in translations v6"]
    types: [completed]

jobs:
  long-arrays-comment:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
      actions: write
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - name: on artifact
        id: artifact
        uses: marocchino/on_artifact@v2
        with:
          name: long-arrays-logs

      - uses: marocchino/sticky-pull-request-comment@v2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          header: long-arrays ${{ steps.artifact.outputs.pr_number }}  ${{ steps.artifact.outputs.jversion }}
          number: ${{ steps.artifact.outputs.pr_number }}
          message: |
           The following translation files contain the long arrays syntax on ${{ steps.artifact.outputs.pr_sha }}
            ```
            ${{ steps.artifact.outputs.long_arrays_result }}
            ```
            Affecting ${{ steps.artifact.outputs.long_arrays_files_affected }} files in ${{ steps.artifact.outputs.long_arrays_languagepacks_affected }} language packs.
