name: PR comment
# This workflow is triggered after the linting action is complete

on:
  workflow_run:
    workflows: ["En_GBLocalise in translations"]
    types: [completed]

jobs:
  comment:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - name: Download lint results
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: _en-gb-localise.yml
          workflow_conclusion: 'failure'

      - name: Get PR number
        id: pr_number
        run: echo "::set-output name=pr_number::$(cat ./En_GBLocalise-logs/PR_number.txt)"

      - name: Get PR sha
        id: pr_sha
        run: echo "::set-output name=pr_number::$(cat ./En_GBLocalise-logs/PR_sha.txt)"
        
      - name: Post PR comment
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          header: En_GBLocalise-class ${{ steps.pr_number.outputs.pr_number }}
          number: ${{ steps.pr_number.outputs.pr_number }}
          path: ./En_GBLocalise-logs/En_GBLocalise_comment.txt
