name: J5 Download Installer Translations Crowdin Action
on:
  # Runs once a day at 3:30
  schedule:
    - cron: '30 3 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
env:
  CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
  CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}

jobs:
  synchronize-with-crowdin:
    if: (github.event_name == 'schedule' && github.repository == 'joomla/core-translations') || (github.event_name != 'schedule')
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        include:
          - language: af
            name: Afrikaans
          - language: ar
            name: Arabic
          - language: eu
            name: Basque
          - language: be
            name: Belarusian
          - language: bg
            name: Bulgarian
          - language: ca
            name: Catalan
          - language: zh-CN
            name: Chinese Simplified
          - language: zh-TW
            name: Chinese Traditional
          - language: hr
            name: Croatian
          - language: cs
            name: Czech
          - language: da
            name: Danish
          - language: fa-AF
            name: Dari
          - language: nl
            name: Dutch
          - language: nl-BE
            name: Dutch Belgium
          - language: en-AU
            name: English Australia
          - language: en-CA
            name: English Canada
          - language: en-NZ
            name: English New Zealand
          - language: en-US
            name: English US
          - language: et
            name: Estonian
          - language: fi
            name: Finnish
          - language: fr
            name: French
          - language: fr-CA
            name: French Canada
          - language: ka
            name: Georgian
          - language: el
            name: Greek
          - language: he
            name: Hebrew
          - language: hu
            name: Hungarian
          - language: id
            name: Indonesian
          - language: it
            name: Italian
          - language: ja
            name: Japanese
          - language: kk
            name: Kazakh
          - language: ko
            name: Korean
          - language: lv
            name: Latvian
          - language: lt
            name: Lithuanian
          - language: mk
            name: Macedonian
          - language: fa
            name: Persian
          - language: pt
            name: Portuguese
          - language: pt-BR
            name: Portuguese Brazilian
          - language: ro
            name: Romanian
          - language: sr-Latn
            name: Serbian Latin
          - language: sk
            name: Slovak
          - language: sl
            name: Slovenian
          - language: es
            name: Spanish
          - language: sv
            name: Swedish
          - language: ta
            name: Tamil
          - language: th
            name: Thai
          - language: tr
            name: Turkish
          - language: uk
            name: Ukrainian
          - language: ur
            name: Urdu
          - language: vi
            name: Vietnamese
          - language: cy
            name: Welsh

    name: Crowdin Download ${{ matrix.name }} (${{ matrix.language }})

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GHA_TRANSLATIONBOT_PAT }}

      - name: Crowdin Download ${{ matrix.name }}
        uses: crowdin/github-action@v2.15.0
        with:
          config: 'Configurations/Crowdin-J5-Installer.yml'
          crowdin_branch_name: JoomlaV5
          upload_sources: false
          download_translations: true
          download_language: ${{ matrix.language }}
          skip_untranslated_strings: true
          export_only_approved: true
          commit_message: 'New ${{ matrix.name }} Crowdin translations by Github Action'
          localization_branch_name: 'l10n_crowdin_installer_v5'
          github_user_name: 'joomla-translation-bot'
          github_user_email: 'release+translation-bot@joomla.org'
        env:
          GITHUB_TOKEN: ${{ secrets.GHA_TRANSLATIONBOT_PAT }}

      # Languages not using Crowdin or not yet ready (reference from main):
      # German variants (de, de-AT, de-CH, de-LI, de-LU) don't use Crowdin
      # Polish (pl) doesn't use Crowdin
      # Russian (ru) doesn't use Crowdin
      # Serbian Cyrillic (sr-Cyrl) - Joomla INI not ready yet
      # Norwegian Bokmal (nb) - Joomla INI not ready yet
      # Other unsupported: Amharic (am), Armenian (hy), Azerbaijani (az), Bengali (bn), Bosnian (bs),
      # Esperanto (eo), English South Africa (en-ZA), Galician (gl), Gujarati (gu), Hindi (hi),
      # Irish (ga), Khmer (km), Kyrgyz (ky), Lao (lo), Malay (ms), Malayalam (ml), Mongolian (mn),
      # Northern Sami (se), Norwegian Nynorsk (nn), Occitan (oc), Pashto (ps), Spanish Colombia (es-CO),
      # Spanish Mexico (es-MX), Swahili (sw), Sinhala (si), Syriac (sy-IQ), Tagalog (tl), Turkmen (tk),
      # Urdu India (ur-IN), Uyghur (ug)
