name: J5 Download Package Translations Crowdin Action

# Controls when the action will run.
on:
  # Runs once a day at 4:01
  schedule:
    - cron: '01 4 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
  CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  synchronize-with-crowdin:
    if: (github.event_name == 'schedule' && github.repository == 'joomla/core-translations') || (github.event_name != 'schedule')
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        include:
          - language: af
            name: Afrikaans
          - language: sq
            name: Albanian
          - language: ar
            name: Arabic
          - language: hy
            name: Armenian
          - language: az
            name: Azerbaijani
          - language: eu
            name: Basque
          - language: be
            name: Belarusian
          - language: bn
            name: Bengali
          - language: bs
            name: Bosnian
          - language: bg
            name: Bulgarian
          - language: ca
            name: Catalan
          - language: zh-CN
            name: Chinese Simplified
          - language: zh-TW
            name: Chinese Traditional
          - language: hr
            name: Croatian
          - language: cs
            name: Czech
          - language: da
            name: Danish
          - language: fa-AF
            name: Dari
          - language: nl
            name: Dutch
          - language: nl-BE
            name: Dutch Belgium
          - language: en-AU
            name: English Australia
          - language: en-CA
            name: English Canada
          - language: en-NZ
            name: English New Zealand
          - language: en-US
            name: English US
          - language: en-ZA
            name: English South Africa
          - language: eo
            name: Esperanto
          - language: et
            name: Estonian
          - language: fi
            name: Finnish
          - language: fr
            name: French
          - language: fr-CA
            name: French Canada
          - language: gl
            name: Galician
          - language: ka
            name: Georgian
          - language: el
            name: Greek
          - language: gu
            name: Gujarati
          - language: he
            name: Hebrew
          - language: hi
            name: Hindi
          - language: hu
            name: Hungarian
          - language: id
            name: Indonesian
          - language: ga
            name: Irish
          - language: it
            name: Italian
          - language: kk
            name: Kazakh
          - language: km
            name: Khmer
          - language: ko
            name: Korean
          - language: ky
            name: Kyrgyz
          - language: lo
            name: Lao
          - language: lv
            name: Latvian
          - language: lt
            name: Lithuanian
          - language: mk
            name: Macedonian
          - language: ms
            name: Malay
          - language: ml
            name: Malayalam
          - language: mr
            name: Marathi
          - language: mn
            name: Mongolian
          - language: ng
            name: Ndonga
          - language: se
            name: Northern Sami
          - language: nb
            name: Norwegian Bokmal
          - language: nn-NO
            name: Norwegian Nynorsk
          - language: oc
            name: Occitan
          - language: ps
            name: Pashto
          - language: fa
            name: Persian
          - language: pt
            name: Portuguese
          - language: pt-BR
            name: Portuguese Brazilian
          - language: ro
            name: Romanian
          - language: sr-Cyrl
            name: Serbian Cyrillic
          - language: sr-Latn
            name: Serbian Latin
          - language: si
            name: Sinhala
          - language: sk
            name: Slovak
          - language: sl
            name: Slovenian
          - language: es
            name: Spanish
          - language: es-CO
            name: Spanish Colombia
          - language: es-MX
            name: Spanish Mexico
          - language: sw
            name: Swahili
          - language: sv
            name: Swedish
          - language: syc
            name: Syriac
          - language: tl
            name: Tagalog
          - language: ta
            name: Tamil
          - language: th
            name: Thai
          - language: fit-fi
            name: Tornedalen Finland
          - language: tr
            name: Turkish
          - language: tk
            name: Turkmen
          - language: ur-IN
            name: Urdu India
          - language: ur
            name: Urdu Pakistan
          - language: ug
            name: Uyghur
          - language: vi
            name: Vietnamese
          - language: cy
            name: Welsh

    name: Crowdin Download ${{ matrix.name }} (${{ matrix.language }})

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GHA_TRANSLATIONBOT_PAT }}

      # Runs the Crowdin action command - https://github.com/crowdin/github-action
      - name: Crowdin Download ${{ matrix.name }}
        uses: crowdin/github-action@v2.15.0
        with:
          # Option to specify a path to the configuration file, without / at the beginning
          config: 'Configurations/Crowdin-J5-All.yml'
          crowdin_branch_name: JoomlaV5
          # Upload sources to Crowdin
          upload_sources: false
          # Make pull request of Crowdin translations
          download_translations: true
          # Download specific language
          download_language: ${{ matrix.language }}
          # Only download translated strings
          skip_untranslated_strings: true
          # Include approved translations only in exported files.
          # If not combined with --skip-untranslated-strings option, strings without approval are fulfilled with the source language
          export_only_approved: true
          # The message of the commit
          commit_message: 'New ${{ matrix.name }} Crowdin translations by Github Action'
          localization_branch_name: 'l10n_crowdin_package_v5'
          github_user_name: 'joomla-translation-bot'
          github_user_email: 'release+translation-bot@joomla.org'
        env:
          GITHUB_TOKEN: ${{ secrets.GHA_TRANSLATIONBOT_PAT }}

      # Languages not using Crowdin (reference from main):
      # German variants (de, de-AT, de-CH, de-LI, de-LU) don't use Crowdin
      # Polish (pl) doesn't use Crowdin
      # Russian (ru) doesn't use Crowdin
      # Ukrainian (uk) doesn't use Crowdin
      # Japanese (ja) doesn't use Crowdin
