name: J6 Download Installer Translations Crowdin Action
on:
  # Runs once a day at 3:45
  schedule:
    - cron: '45 3 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
  CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}

jobs:
  synchronize-with-crowdin:
    if: (github.event_name == 'schedule' && github.repository == 'joomla/core-translations') || (github.event_name != 'schedule')
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        # Language code notes and exceptions (kept as comments for reference):
        # "LanguageName": "Amharic",
        # "CrowdinID": "am"
        # Languages NOT using Crowdin (managed elsewhere):
        # German doesn't use Crowdin
        # German Austria doesn't use Crowdin
        # German Liechtenstein doesn't use Crowdin
        # German Luxombourg doesn't use Crowdin
        # German Swiss doesn't use Crowdin
        # Polish doesn't use Crowdin
        # Russian doesn't use Crowdin
        include:
          - language: af
            name: Afrikaans
          - language: ar
            name: Arabic
          - language: eu
            name: Basque
          - language: be
            name: Belarusian
          - language: bg
            name: Bulgarian
          - language: ca
            name: Catalan
          - language: zh-CN
            name: Chinese (Simplified)
          - language: zh-TW
            name: Chinese (Traditional)
          - language: hr
            name: Croatian
          - language: cs
            name: Czech
          - language: da
            name: Danish
          - language: fa-AF
            name: Dari
          - language: nl
            name: Dutch
          - language: nl-BE
            name: Dutch Belgium
          - language: en-AU
            name: English Australia
          - language: en-CA
            name: English Canada
          - language: en-NZ
            name: English New Zealand
          - language: en-US
            name: English US
          - language: et
            name: Estonian
          - language: fi
            name: Finnish
          - language: fr
            name: French
          - language: fr-CA
            name: French Canada
          - language: ka
            name: Georgian
          - language: el
            name: Greek
          - language: he
            name: Hebrew
          - language: hu
            name: Hungarian
          - language: id
            name: Indonesian
          - language: it
            name: Italian
          - language: ja
            name: Japanese
          - language: kk
            name: Kazakh
          - language: ko
            name: Korean
          - language: lv
            name: Latvian
          - language: lt
            name: Lithuanian
          - language: mk
            name: Macedonian
          - language: fa
            name: Persian
          - language: pt
            name: Portuguese
          - language: pt-BR
            name: Portuguese (Brazil)
          - language: ro
            name: Romanian
          - language: sr-Latn
            name: Serbian (Latin)
          - language: sk
            name: Slovak
          - language: sl
            name: Slovenian
          - language: es
            name: Spanish
          - language: sv
            name: Swedish
          - language: ta
            name: Tamil
          - language: th
            name: Thai
          - language: tr
            name: Turkish
          - language: uk
            name: Ukrainian
          - language: ur
            name: Urdu
          - language: vi
            name: Vietnamese
          - language: cy
            name: Welsh

    name: Crowdin Download ${{ matrix.name }} (${{ matrix.language }})

    steps:
      - name: Checkout
        uses: actions/checkout@v6


      - name: Crowdin Download
        uses: crowdin/github-action@v2.15.0
        with:
          config: 'Configurations/Crowdin-J6-Installer.yml'
          crowdin_branch_name: JoomlaV6
          upload_sources: false
          download_translations: true
          download_language: ${{ matrix.language }}
          skip_untranslated_strings: true
          export_only_approved: true
          commit_message: 'New ${{ matrix.name }} Crowdin translations by Github Action'
          localization_branch_name: 'l10n_crowdin_installer_v6'
